{% extends 'base.html.twig' %}

{% block title %} - Tous les livres{% endblock %}

{% block body %}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home /</a>
                    <span>Livres</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
<div class="container">
    <div class="row">
        <div class="col-lg-3 side-menu">
            <div class="filter-widget">
                <a style="font-size: 1.3em;" href="{{ path('livres') }}">Tous les livres</a>
            </div>
            <div class="filter-widget">
                <h4 class="fw-title">Genres</h4>
                <div class="fw-brand-check filter-genre">
                    {% for g in genres %}
                    <div class="bc-item">
                        <a href="{{ path('genre',  {'id' : g.id }) }}" id="bc-{{ g.titre }}"><span class="checkmark"></span> {{ g.titre }}</a>
                        <span class="badge badge-primary badge-pill">{{ g.livres | length }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="filter-widget">
                <h4 class="fw-title">Auteurs</h4>
                <div class="fw-brand-check filter-genre">
                    {% for a in auteurs %}
                    <div class="bc-item">
                        <a href="{{ path('auteur',  {'id' : a.id }) }}"><span class="checkmark"></span> {{ a.prenom }} {{ a.nom }}</a>
                        <span class="badge badge-primary badge-pill">{{ a.livres | length }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <form action="{{ path('livres') }}" method="POST" class="search-form">
              <div class="form-group d-flex">
                <input type="text" name="search" class="form-control" placeholder="Tapez le titre de votre livre">
                <input type="submit" value="Rechercher" class="submit px-3">
              </div>
            </form>
            <div class="row">
                {% for livre in livres %}
                <div class="col-md-6 col-lg-3 ftco-animate genre-product">
                    <div class="product">
                        <a href="{{ path('livre',  {'id' : livre.id }) }}" class="img-prod"><img class="img-fluid" src="{{ livre.image }}" alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3 class="book-title"><a href="{{ path('livre',  {'id' : livre.id }) }}">{{ livre.titre }}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">{{ livre.prix }}€</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <ul class="rating">
                                        <li class="fa fa-star {% if livre.moyNote < 1 %} disable {% endif %}"></li>
                                        <li class="fa fa-star {% if livre.moyNote < 2 %} disable {% endif %}"></li>
                                        <li class="fa fa-star {% if livre.moyNote < 3 %} disable {% endif %}"></li>
                                        <li class="fa fa-star {% if livre.moyNote < 4 %} disable {% endif %}"></li>
                                        <li class="fa fa-star {% if livre.moyNote < 5 %} disable {% endif %}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
