{% extends 'back/index.html.twig' %}

{% block backContent %}
<div class="row">
<div class="comment-form-wrap my-form">
    <div class="col-md-12 heading-section text-center ftco-animate">
      <h2>Modifier auteur {{ auteur.prenom~' '~auteur.nom }}</h2>
  </div>
  {% for message in app.flashes('success') %}
   <div class="alert alert-success">
       {{ message}}
   </div>
  {% endfor %}
  <form method="POST" class="p-4 bg-light">
      <div class="form-group">
        <label for="prenom">Prénom *</label>
        <input required type="text" class="form-control" value="{{ auteur.prenom }}" name="prenom" id="prenom">
      </div>

      <div class="form-group">
        <label for="nom">Nom *</label>
        <input required type="text" class="form-control" value="{{ auteur.nom }}" name="nom" id="nom">
      </div>

    <div class="form-group">
      <input type="submit" value="Valider" class="btn py-3 px-4 btn-primary">
      <a href="{{ path('auteurs_back') }}">&nbsp;&nbsp;&nbsp;retour</a>
    </div>

  </form>
</div>
</div>
{% endblock %}
