{% extends 'back/index.html.twig' %}

{% block backContent %}
<div class="row justify-content-center">
  <div class="col-md-12 heading-section text-center ftco-animate">
    <h2>Auteurs</h2>
  </div>
</div>
{% for message in app.flashes('success') %}
 <div class="alert alert-success">
     {{ message}}
 </div>
{% endfor %}
<div class="card-box">
    <table id="datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>

        <tbody>
        {% for auteur in auteurs %}
        <tr>
            <td>{{auteur.id}}</td>
            <td>{{auteur.prenom~' '~auteur.nom}}</td>
            <td>
                <a href="{{ path('auteur_edit', {'id': auteur.id })}}"><i class="fa fa-edit"></i></a>
            </td>
            <td>
                <a href="{{ path('auteur_remove', {'id': auteur.id })}}" class="deleteItem"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('auteur_new') }}" class="btn py-3 px-4 btn-primary btn-add">+ Ajouter un auteur</a>
</div>
{% endblock %}
